/* CSSリセット */
html,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        Hiragino Kaku Gothic ProN, "Hiragino Sans", "sans-serif";
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから */

/* サービス全体 */
.sv_all {
    background-color: #eeeeee;
    width: 100%;
    margin: auto;
}

/* 見出しタイトル */
.title h2 {
    color: green;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 20px 0;
}

/* 3つのサービス */
.sv_menus {
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

/* サービス単体 */
.sv_menu {
    background-color: #fff;
    margin: 40px 10px 40px;
}

.sv_menu h3 {
    border-left: 10px solid green;
    color: green;
    margin: 10px 10px;
    padding-left: 10px;
}

.sv_menu p {
    margin: 10px 0 10px 10px;
}
.sv_menu img {
    width: 100%;
}

/* レスポンシブ対応 */
@media screen and (max-width: 400px) {
    .sv_menus {
        display: block;
        margin: 0 auto;
        padding: 10px 10px;
    }
    .sv_menu {
        width: 100%;
        margin-bottom: 20px;
    }
    .sv_menus p {
        padding-bottom: 10px;
    }
}
